# Description

Truncate the promoters from  Zhang (2023) DeepSEED to be 150bp and min-max scale the expression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

#### For ecoli_mpra_3_laco.csv
----

In [2]:
df = pd.read_csv('../Data/Zhang (DeepSEED)/ecoli_mpra_3_laco.csv')
df.head()

,realA,realB,expr
0,MMMMMMMMMMMMTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,TCCCACTATTTGTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,2.346474
1,MMMMMMMMMMMMMMMMMMGTGACAAATCGTGACACAATATCGTCAC...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,3.501752
2,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAMMMMMMMM...,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAAACGTGTT...,5.566020
3,MMMMMMMMMMMMMACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,-0.640324
4,MMMMMMMMMMMMMMMMMMMMMMMTCATAGATTAAGAATTTTCCTGA...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,-2.138048

In [3]:
# truncate the sequences (realA and realB) to be 150bp long
df['realA_trunc'] = df['realA'].str[:150]
df['realB_trunc'] = df['realB'].str[:150]

# min-max scale the values in the dataframe
df['expr_min_max'] = MinMaxScaler().fit_transform(df['expr'].values.reshape(-1, 1))

df.head()

,realA,realB,expr,realA_trunc,realB_trunc,expr_min_max
0,MMMMMMMMMMMMTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,TCCCACTATTTGTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,2.346474,MMMMMMMMMMMMTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,TCCCACTATTTGTCGGCTAGCCAGATTGTTGTGGTCTGATTAAAGT...,0.580331
1,MMMMMMMMMMMMMMMMMMGTGACAAATCGTGACACAATATCGTCAC...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,3.501752,MMMMMMMMMMMMMMMMMMGTGACAAATCGTGACACAATATCGTCAC...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,0.660713
2,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAMMMMMMMM...,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAAACGTGTT...,5.566020,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAMMMMMMMM...,GGTTCTACCGAACTTGTCATGTAAATTAAAAAAATAAAAACGTGTT...,0.804339
3,MMMMMMMMMMMMMACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,-0.640324,MMMMMMMMMMMMMACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,0.372517
4,MMMMMMMMMMMMMMMMMMMMMMMTCATAGATTAAGAATTTTCCTGA...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,-2.138048,MMMMMMMMMMMMMMMMMMMMMMMTCATAGATTAAGAATTTTCCTGA...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,0.268309

In [4]:
# save the dataframe to a new csv file
df.to_csv('../Data/Zhang (DeepSEED)/ecoli_mpra_3_laco_processed.csv', index=False)

#### For ecoli_mpra_-10_-35.csv
----

In [5]:
df = pd.read_csv('../Data/Zhang (DeepSEED)/ecoli_mpra_-10_-35.csv')
df.head()

,realA,realB,expr
0,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,3.501752
1,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,-0.640324
2,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,-2.138048
3,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TATAACAACTTGTAGTTATCTCAATATAGTTATCGCTAAGTGCAAG...,-0.206067
4,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AAGCAGACTTGTCTTCAAGTTGCTAAGGGGTTATTATATAATTTTC...,4.445758

In [6]:
# truncate the sequences (realA and realB) to be 150bp long
df['realA_trunc'] = df['realA'].str[:150]
df['realB_trunc'] = df['realB'].str[:150]

# min-max scale the values in the dataframe
df['expr_min_max'] = MinMaxScaler().fit_transform(df['expr'].values.reshape(-1, 1))

df.head()

,realA,realB,expr,realA_trunc,realB_trunc,expr_min_max
0,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,3.501752,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,CTTTTTTTTGAATAAATTGTGACAAATCGTGACACAATATCGTCAC...,0.653734
1,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,-0.640324,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TCGCTCTCGGAACACTGGCGCTTCTGCTGAAAAAAAGTCCATGGTG...,0.368583
2,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,-2.138048,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,GCTTTAGAAACAAAAGGGACGTTTCATAGATTAAGAATTTTCCTGA...,0.265475
3,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TATAACAACTTGTAGTTATCTCAATATAGTTATCGCTAAGTGCAAG...,-0.206067,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,TATAACAACTTGTAGTTATCTCAATATAGTTATCGCTAAGTGCAAG...,0.398478
4,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AAGCAGACTTGTCTTCAAGTTGCTAAGGGGTTATTATATAATTTTC...,4.445758,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AAGCAGACTTGTCTTCAAGTTGCTAAGGGGTTATTATATAATTTTC...,0.718722

In [7]:
# save the dataframe to a new csv file
df.to_csv('../Data/Zhang (DeepSEED)/ecoli_mpra_-10_-35_processed.csv', index=False)